body {
    background-color: #eaf1f8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.card {
    border-radius: 4px;
    border: 1px solid #AAB7C4;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn-primary {
    background-color: #1937FF;
    border-color: #1937FF;
}

.btn-primary:hover {
    background-color: #102BCC;
    border-color: #102BCC;
}